.wrap {
  display: flex;
  margin: 0 100px 20px 100px;
  padding-top: 80px;
  justify-content: center;
}
.content { 
  width: 0 auto;
  min-width: 600px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.loginProfile {
  height: 60px;
  width: 60px;
  display: flex;
  
  img {
    border-radius: 50%;
    width: 60px;
  }
  span {
    margin: 2px 20px;
    display: block;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}